// Place all the styles related to the fyber_offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 25;

  table#fyber_offers td{
    vertical-align: middle;
  }

  table#fyber_offers img{
    width: 60px;
    height: 60px;
  }

  .bg-info{
    padding: 15px;
  }

  h1{
    padding: 20px;
  }
}
